<div class="message_me">
  <div class="upper-message">
    <div class="message-user">
      <%= idea.user.nickname %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= idea.content %>
    </div>
    <div class="container">
      <%= link_to "削除", room_idea_path(@room, idea.id), data: {turbo_method: :delete}, class:"idea-destroy" %>
    </div>
    <div class="message-date">
      <%=  idea.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
  </div>
</div>

