<div class="message_me">
  <div class="upper-message">
    <div class="message-user">
      <%= idea.user.nickname %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= idea.content %>
    </div>   
    <div class="message-date">
      <%= l idea.created_at %>
    </div>
  </div>
</div>

