<div class="side-bar-header">
  <div class="logo-room">
    <%= link_to "ideaRecode", root_path, class: 'btn3' %>
    <div class="logo-sub"><p>一瞬のひらめきを記録する</p></div>
  </div> 
</div>

<div class="rooms">
  <div class="create-room">
    <div class="create-room_sub">
    <%= link_to "ボックスを作成する", new_room_path, class: 'btn2' %>
    </div>

    <div class="room-names">
      <% @rooms.each do |room| %>
        <div class="room">
          <div class="room-name">
            <%= link_to room.name, room_ideas_path(room) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>