.calendar {
  background-color: #caebf3;
}

tbody, thead {
  background-color: #f2fdff;
  text-decoration: none;
}

.custom-title {
  font-size: 15px;
  padding: 10px;
  width: 300px;
  text-decoration: none;
}
.custom-title:hover {
  text-decoration: underline;
}

.calendar-heading {
  text-align: center;
}

.calendar-heading a{
  text-decoration: none;
  color: blue;
}
.calendar-heading a:hover {
  text-decoration: underline;
}

.calendar-view {
  height: calc(100vh - 100px - 50px);
  background-color: #e0eaec;
  overflow: scroll;
  padding: 10px;
}

.even-week {
  background-color: #ffffff; /* 白 */
}

.odd-week {
  background-color: #f0f0f0; /* ライトグレー */
}

.custom-submit-button {
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  background-color: #8fcff5; 
  color: #ffffff; 
  font-weight: bold;
  border: none;
  box-shadow: 0px 2px 2px rgb(4, 107, 167);
  transition: background-color 0.5s ease;
}
.custom-submit-button:hover {
  background-color: #55bbf7;
}